// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
// hide ugly scrollbar
::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}
.order {
  background-color: $grey_1;
  .main {
    display: flex;
    justify-content: space-between;
    height: 88vh;
    margin-top: calc(11vh + 3px);
    overflow: scroll;
    .category-list {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      overflow: scroll;
      padding-bottom: 15vh;
      .category-list-item {
        padding: 10px 10px;
        text-align: center;
        border-bottom: 0.5px solid $grey_3;
        min-height: 44px;
        font-size: 14px;
        font-weight: 500;

        color: $dark_2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &.active {
          border-left: 3px solid $red;
          border-bottom: none;
          background-color: $grey_1;
        }
      }
    }
    .product-list {
      flex: 3;
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: scroll;
      padding-bottom: 10vh;
      .product-group {
        margin-top: 10px;
        .category-title {
          height: 24px;
          line-height: 24px;
          font-size: 20px;
          font-weight: 600;
          color: $dark_2;
          padding: 8px 10px;
        }
      }
    }
  }
  .menu-cover {
    position: fixed;
    z-index: 500;
    height: calc(100vh - 11vh);
    width: 100vw;
    left: 0;
    bottom: 0;
    background-color: $cover;
  }
  .menu-err-dialog {
    position: fixed;
    z-index: 600;
    height: 31vh;
    width: 74vw;
    background-color: white;
    top: 25vh;
    left: 13vw;
    border-radius: 4px;
    .menu-close-button {
      height: 18px;
      line-height: 18px;
      font-size: 15px;
      padding: 10px 15px;
    }
    .menu-error-icon {
      display: flex;
      flex-direction: column;
      height: 50%;
      justify-content: center;
      align-items: center;
    }
    .menu-error-message {
      font-size: 14px;
      font-weight: 300;
      width: 80%;
      margin: auto;
      text-align: center;
      color: #444444;
    }
  }
}

.head {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  height: 11vh;
  width: 100vw;
  background-image: url("/table/public/images/layout/banner.png");
  background-size: cover;
  color: #fff;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 16px;
  align-items: center;
  border-bottom: 3px solid #ffffff;
  .left {
    flex: 2;
    height: 39px;
    line-height: 39px;
    // font-family: Montserrat;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
  }
  .right {
    flex: 1;
    text-align: right;
    line-height: 38px;
    .button {
      width: 24px;
      height: 24px;
      border-radius: 3px;
      border: 1px solid #fff;
      text-align: center;
      padding: 1px 4px;
      .label {
        height: 20px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: #ffffff;
      }
    }
  }
}

.product-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .img-container {
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;

    img {
      width: 70px;
      height: 46px;
      border-radius: 3px;
    }
  }
  .img-xl-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: $cover;
    z-index: 500;
    img {
      width: 80vw;

      border-radius: 5px;
    }
  }
  .product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-left: 8px;
    border-bottom: 2px solid #fff;

    .product-name {
      height: 26px;
      line-height: 26px;
      font-size: 10px;
      color: $dark_1;
    }
    .price-quantity {
      height: 16px;
      line-height: 16px;
      display: flex;
      justify-content: space-between;
      .price {
        display: inline;
        vertical-align: baseline;

        line-height: 16px;
        opacity: 0.9;
        font-size: 12px;
        font-weight: 600;
        color: $dark_2;
      }
      .control-pannel {
        display: flex;
        justify-content: flex-end;
        width: 90px;
        .btn-sub,
        .btn-plus,
        .number-quantity {
          flex: 1;
          line-height: 16px;
          height: 16px;
          text-align: center;
        }
        .number-quantity {
          color: $red;
          font-weight: 600;
          padding-top: 1px;
        }
        .btn-plus-only {
          flex: 1;
          line-height: 16px;
          height: 16px;
          text-align: right;
          padding-right: 8px;
        }
      }
    }
  }
}
.choice-form-cover {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 400;
  background-color: $cover;
}
.choice-form {
  position: fixed;
  top: 20vh;
  left: 10vw;
  width: 80vw;
  height: 65vh;
  background-color: #fff;
  overflow: scroll;
  border-radius: 3px;
  z-index: 500;
  .header {
    background-color: $grey_1;
    display: flex;
    height: 12vh;
    justify-content: space-between;
    padding: 14px 9px;
    .choice-form-img-container {
      flex: 1;
      margin-right: 3px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 70px;
        height: 46px;
        border-radius: 3px;
      }
    }
    .choice-form-product-info {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1px 3px;
      .choice-form-product-name {
        height: 26px;
        line-height: 26px;
        font-size: 10px;
        color: $dark_1;
      }
      .choice-form-product-price {
        height: 15px;
        line-height: 15px;
        opacity: 0.9;
        font-size: 12px;
        font-weight: 600;
        color: $dark_2;
      }
    }
  }
  .choice-form__list-container {
    .choice-form__list-content {
      height: 45vh;
      overflow: scroll;
    }
  }
  .choice-form__confirm-button-container {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .choice-form__confirm-button {
      width: 72px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      border-radius: 3px;
      background-color: $yellow;
    }
  }
}

.choice-group {
  .choice-group__title {
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    color: $dark_1;
  }
  .choice-group__subtitle {
    height: 13px;
    line-height: 13px;
    font-size: 10px;
    font-weight: 200;
    text-align: center;
    color: $dark_2;
  }
  .choice-group__content {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
    .choice-group__content-wrapper-listview {
      width: 33%;
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      .choice-group__content-container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        flex: 1;
        input {
          position: absolute;
          opacity: 0;
        }
        .checkmark-wrap-listview {
          display: flex;
          position: relative;
          height: 20px;
          width: 20px;
          z-index: 1;
          background-color: #fff;
          border-radius: 50%;
          border: 1px solid $cover;
          overflow: hidden;
          .checkmark-listview {
            display: flex;
            height: 64px;
            width: 64px;
            background-size: cover;
            z-index: 2;
            border-radius: 50%;
            margin-top: 2px;
            margin-left: 2px;
            display: none;
          }
          .choice-group__icon-cover-listview {
            position: absolute;
            background-color: $cover;
            height: 20px;
            width: 20px;
            z-index: 2;
          }
        }
      }
      /* When the checkbox is checked, add a blue background */
      .choice-group__content-container
        input:checked
        ~ .checkmark-wrap-listview {
        background-color: #eb4d4b;
        .choice-group__icon-cover-listview {
          opacity: 0;
        }
      }

      .choice-group__choice-info-listview {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 2;
        .choice-group__choice-price {
          text-align: center;
          font-size: 12px;
          font-weight: 400;
        }
        .choice-group__choice-name {
          text-align: center;
          font-weight: 600;
        }
      }
    }
    .choice-group__content-wrapper {
      width: 33%;
      margin-bottom: 8px;
      .choice-group__content-container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        flex: 1;
        input {
          position: absolute;
          opacity: 0;
        }
        .checkmark-wrap {
          display: flex;
          position: relative;
          height: 70px;
          width: 70px;
          z-index: 1;
          background-color: #fff;
          border-radius: 50%;
          border: 1px solid $cover;
          overflow: hidden;
          .checkmark {
            display: flex;
            height: 64px;
            width: 64px;

            background-size: cover;
            z-index: 2;
            border-radius: 50%;
            margin-top: 2px;
            margin-left: 2px;
          }
          .choice-group__icon-cover {
            position: absolute;
            background-color: $cover;
            height: 70px;
            width: 70px;
            z-index: 2;
          }
        }
      }
      /* When the checkbox is checked, add a blue background */
      .choice-group__content-container input:checked ~ .checkmark-wrap {
        background-color: #eb4d4b;
        .choice-group__icon-cover {
          opacity: 0;
        }
      }

      .choice-group__choice-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .choice-group__choice-price {
          text-align: center;
          font-size: 12px;
          font-weight: 400;
        }
        .choice-group__choice-name {
          text-align: center;
          font-weight: 600;
        }
      }
    }
  }
}

.shopping-cart {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  .shopping-cart__header {
    height: 8.5vh;
    background-color: $red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .shopping-cart__header__left-section {
      flex: 1;
      padding-left: 30px;
      padding-top: 6px;
      position: relative;
      .shopping-cart__header__quantity {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 50px;
        height: 20px;
        text-align: center;
        line-height: 21px;
        font-size: 16.2px;
        font-weight: 600;
        color: $red;
        background-color: white;
        border-radius: 50%;
        width: 20px;
      }
    }
    .shopping-cart__header__right-section {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      padding-right: 17px;
      flex: 1;
      color: #fff;
      .shopping-cart__header__total-title {
        padding-right: 10px;
        height: 18px;
        line-height: 18px;
        font-size: 14px;
        font-weight: 300;
      }
      .shopping-cart__header__total-price {
        height: 29px;
        line-height: 29px;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }

  .shopping-cart__list-container {
    min-height: 55vh;
    max-height: 75vh;
    background-color: #fff;
    padding: 10px;
    overflow: scroll;
  }
  .order-item-card__confirm-button-container {
    height: 10vh;
    width: 100vw;
    display: flex;

    align-items: flex-end;
    background-color: #fff;
    .order-item__clear-button {
      text-align: center;
      flex: 2;
      height: 35px;
      line-height: 35px;

      font-size: 14px;
      font-weight: 600;
      text-decoration: none;

      background-color: $red;
      color: white;
    }
    .order-item-card__confirm-button {
      text-align: center;
      flex: 3;
      height: 35px;
      line-height: 35px;

      font-size: 14px;
      font-weight: 600;
      text-decoration: none;

      background-color: $yellow;
      color: #fff;
    }
  }
}

.shopping-cart__cover {
  position: fixed;
  left: 0;
  top: 0;
  background-color: $cover;
  height: 100vh;
  width: 100vw;
}

.order-item-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #e5e5e5;
  .order-item-card__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
    width: 79px;
    img {
      width: 56px;
      height: 37px;
      border-radius: 3px;
    }
  }
  .order-item-card__info-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 2;
    .order-item-card__item-name {
      height: 15px;
      line-height: 15px;
      font-size: 12px;
      font-weight: 500;
      color: $dark_2;
    }
    .order-item-card__choices__type,
    .order-item-card__choices__pickedChoice-name,
    .order-item-card__choices__pickedChoice-price {
      height: 13px;
      line-height: 13px;
      font-size: 10px;
      color: $dark_1;
    }
    .order-item-card__choices__pickedChoice {
      display: flex;
    }
  }
  .order-item-card__quantity-control-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    .order-item-card__quantity-control {
      display: flex;
      justify-content: space-between;
      .order-item-card__quantity-control__decrease,
      .order-item-card__quantity-control__increase {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 18px;
          height: 18px;
        }
      }
      .order-item-card__quantity-control__quantity {
        height: 22px;
        line-height: 22px;
        font-size: 18px;
        color: $red;
        text-align: center;
        flex: 1;
        font-weight: bold;
      }
    }
    .order-item-card__quantity-display {
      height: 18px;
      line-height: 18px;
      font-size: 14px;
      font-weight: 500;
      color: #979797;
    }
  }
  .order-item-card__total-price-container {
    flex: 1;
    text-align: center;
  }
  .order-item-card__mode-3-pannel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    .mode-3-pannel__left,
    .mode-3-pannel__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      .title {
        height: 20px;
        line-height: 17px;
        font-size: 12px;
        color: #444;
        font-weight: 300;
        background-color: white;
        width: 100%;
        text-align: center;
        border: 2px solid #f1f1f1;
      }
      .number {
        background-color: $yellow;
        width: 100%;
        height: 19px;
        line-height: 19px;
        font-size: 16px;
        color: #fff;
        font-weight: 600;
        text-align: center;
      }
    }
    .mode-3-pannel__left {
      .title {
        border-bottom: none;
      }
      .number {
        border-right: 1px solid #fff;
      }
    }
    .mode-3-pannel__right {
      .title {
        border-bottom: none;
        border-left: none;
      }
    }
  }
}

.confirm {
  .confirm__title {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .confirm__title-text {
      font-size: 18px;
      font-weight: 800;
      color: #333333;
      margin-left: 5px;
    }
  }
  .qrcode-section {
    display: flex;
    height: 45vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .qrcode-container {
      width: 233px;
      height: 233px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1px solid $red;
    }
    .confirm__subtitle {
      margin-top: 10px;
      text-align: center;
      height: 14px;
      line-height: 14px;
      font-size: 10px;
      color: #333333;
    }
  }

  .confirm__order-list__title {
    height: 28px;
    background-color: #f1f1f1;
    line-height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    .confirm__order-list__title-text {
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
    .confirm__order-list__quantity {
      display: flex;
      align-items: center;

      .confirm__order-list__quantity-title {
        font-size: 10px;
        font-weight: 300;
        color: #333333;
        margin-right: 8px;
      }
      .confirm__order-list__quantity-number {
        font-size: 14px;
        font-weight: 600;
        color: #333333;
      }
    }
  }
  .confirm__order-list__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    .confirm__order-list__total-title {
      height: 17px;
      line-height: 17px;
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #333333;
    }
    .confirm__order-list__total-number {
      height: 24px;
      line-height: 24px;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #f55747;
    }
  }
  .confirm__back-button-container {
    height: 40px;
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 15px;
    .confirm__back-button {
      width: 99px;
      line-height: 28px;
      height: 28px;
      border-radius: 3px;
      background-color: #ffba2d;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .confirm__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
    background-color: #eaeaea;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    .confirm__footer__total {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 10vh;
      justify-content: space-between;
      border-right: 2px solid white;
      .text {
        height: 22px;
        line-height: 22px;
        font-size: 16px;
        font-weight: 600;

        color: #444444;
      }
      .number {
        height: 34px;
        line-height: 34px;
        font-size: 28px;
        font-weight: bold;

        color: #444444;
      }
    }
    .confirm__footer__table-number,
    .confirm__footer__order-number {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 9vh;
      justify-content: space-between;
      .text {
        height: 22px;
        line-height: 22px;
        font-size: 16px;
        font-weight: normal;

        color: #444444;
      }
      .number {
        line-height: 22px;
        height: 22px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;

        color: #444444;
      }
    }
    .confirm__footer__button {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f55747;
      height: 100%;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
    }
  }
}
.complete {
  .complete__icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    .complete__icon-text {
      margin-top: 25px;
      color: #444;
      font-weight: 500;
      font-size: 18px;
      height: 22px;
    }
  }
  .complete__order-list-title {
    height: 26px;
    line-height: 26px;
    padding: 0px 15px;
    position: relative;
    .complete__order-list-title-text {
      color: #444;
      font-weight: 500;
      height: 22px;
      line-height: 22px;
      background-color: white;
      width: 100px;
      font-size: 18px;
      z-index: 2;
    }
    .complete__order-list-divider {
      height: 11px;
      position: absolute;
      top: 0;
      width: 90%;
      border-bottom: 1px solid #f1f1f1;
      z-index: -1;
    }
  }
  .complete__order-list {
    padding: 10px 20px;
    max-height: 50vh;
    overflow: scroll;
  }
}

.mysql {
  height: 100vh;
  width: 100vw;
  background-color: gainsboro;
  padding: 50px;
  overflow: scroll;
  .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .submit-button {
      padding: 10px 30px;
      background-color: $yellow;
      border-radius: 5px;
      color: white;
      font-weight: 600;
    }
  }
  .mysql-field {
    display: flex;
    flex-direction: column;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    .mysql-field__input {
      font-size: 16px;
      width: 99%;
      height: 30px;
      line-height: 30px;
    }
  }
  .result {
    .result-content {
      margin-top: 10px;
      .result-row {
        width: 100%;
        overflow-wrap: break-word;
        padding: 10px 0px;
        background: white;
        margin-bottom: 5px;
      }
    }
  }
}

.confirm-modal {
  height: 100vh;
  width: 100vw;
  background-color: $cover;
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .order-confirm-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    .order-confirm-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px 0px;
      .order-confirm-title {
        padding: 10px 0px;
      }
    }
    .order-confirm-message {
      width: 90%;
      text-align: center;
      margin-bottom: 15px;
    }
    .button-pannel {
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 5px 0px;
      .cancel-button {
        background-color: $red;
        padding: 5px 10px;
        color: white;
        border-radius: 3px;
      }
      .confirm-button {
        background-color: $yellow;
        padding: 5px 10px;
        color: white;
        border-radius: 3px;
        text-decoration: none;
      }
    }
  }
}

.setting {
  .setting__sub-header {
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  .setting__choice-pannel {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    .theme_pic {
      height: 300px;
    }
  }
  .apply-button {
    background: $yellow;
    width: 130px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: white;
    padding: 0px 15px;
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
  }
}

.button-increase,
.button-decrease {
  &.fill {
    .material-icons {
      background-color: $red;
      font-size: 16px;
      border-radius: 50%;
      color: white;
    }
    &.disable {
      .material-icons {
        background-color: #979797;
        font-size: 16px;
        border-radius: 50%;
        color: white;
      }
    }
  }
  &.outline {
    display: flex;
    .material-icons {
      background-color: $red;
      font-size: 16px;
      border-radius: 50%;
      color: white;
    }
  }
}

.complete__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  .complete__button-back {
    padding: 10px 30px;
    background-color: $yellow;
    border-radius: 5px;
    color: white;
    font-weight: 600;
  }
}
